.blog-cat {
    &__home {
        min-height: calc(100vh - 160px);
        height: auto;
        padding: 0 5px;
    }

    &__container {
        padding: 32px 0;

        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            text-decoration: none;
        }
    }

    &__post {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0 auto 32px;
        box-shadow: 10px 10px 10px #370101;
        @include baseTransition ;
        border-radius: 5px;
        background-color: #7b2525;
        color: white;

        @media (max-width: $bp-md) {
            box-shadow: none;
        }

        &:hover {
            box-shadow: none;
            transform: scale(1.05);

            @media (max-width: $bp-md) {
                transform: none;
            }
        }
    }

    &__image {
        position: relative;
        width: 300px;
        height: 169px;
        overflow: hidden;
    }

    &__title {
        padding: 16px;
        
        h3 {
            font-size: 24px;
            text-align: left;
            padding-bottom: 0;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: white;
        }
    }
}