html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #580f0f;
    box-sizing: border-box;

    & * {
        box-sizing: border-box;
    }
}

h1,
h2 {
    font-family: $family;
    text-align: center;
    font-size: 75px;
    color: white;
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: 480px) {
        font-size: 60px;
    }
}
h3 {
    font-family: $family;
    text-align: center;
    margin: 10px 0 30px;
    font-size: 37px;
    color: white;
    font-weight: 700;
    padding-bottom: 50px;
}

.button__back {
        display: inline-block;
        width: 120px;
        height: 40px;
        background-color: $c-secondary;
        color: $c-primary;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        bottom: 15px;
        right: 15px;
        box-shadow: 10px 10px 0 $c-primary-dark;
        @include baseTransition;

        &:before {
            content:'\003c';
            position: absolute;
            top: 50%;
            left: 15px;
            font-size: 24px;
            transform: translate3d(0,-50%,0);
        }

        &:hover {
            box-shadow: none;
            transform: scale(1.05);
        }
    }

@mixin underline($bottom: 0) {
    &:after {
        position: absolute;
        bottom: $bottom;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 2px;
        background-color: white;
        @include baseTransition(width);
    }
    &:hover, &.active {
        &:after {
            width: 100%;
        }
    }
}
