footer {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
    height: 80px;

    @media (max-width: 579px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .footer__copy {
        height: 100%;
        line-height: 80px;
        color: #ffffff;
        font-size: 14px;
    
        @media (max-width: 579px) {
            line-height: 40px;
        }
    }
}