@mixin centerContainer() {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
@mixin centerItem($max) {
  width: 100%;
  max-width: $max;
  margin-left: auto;
  margin-right: auto;
}

@mixin flexBasic($content, $direction, $wrap) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin bgCover() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
