.portfolio {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    min-height: calc(100vh - 160px);

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img {
        width: 320px;
        height: 246px;
        opacity: 1;
        margin-bottom: 40px;
        margin: 20px 30px;
        box-shadow: 10px 10px 20px #370101;
        @include baseTransition;
        border-radius: 5px;
        background-color: #7b2525;

        &:hover {
            box-shadow: none;
            transform: scale(1.02);
            opacity: 1;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }

    &-detail {
        &__content {
            padding-top: 50px;
        }

        &__description {
            color: white;
        }

        &__image {
            width: 100%;
            // background-color: rgba(255, 255, 255, 0.1);
            padding: 40px 0;

            img {
                display: block;
                width: auto;
                height: auto;
                margin: 0 auto;

                @media (max-width: $bp-md-max) {
                    width: 100%;
                }
            }
        }

        &__description {
            display: flex;
            background-color: rgba(255, 255, 255, 0.1);
            width: 100%;
            padding: 24px 24px 0;

            @media (max-width: $bp-md) {
                flex-direction: column-reverse;
            }

            span {
                display: block;
                font-size: 20px;
                font-weight: bold;
                border-bottom: 1px solid white;
                padding-bottom: 8px;
            }

            ul {
                padding: 24px 0;
            }

            li {
                padding: 8px 0;

                a {
                    text-decoration: none;
                    color: white;
                    position: relative;
                    @include underline;
                }
            }
        }

        &__websites {
            width: 40%;
            padding: 16px;

            @media (max-width: $bp-md) {
                width: 100%;
            }
        }

        &__techs-list {
            padding-top: 16px;
            display: flex;
            flex-wrap: wrap;

            p {
                padding: 4px 8px 4px 0;
                margin: 0 4px;
                position: relative;
                @include underline;
            }
        }

        &__role {
            margin: 16px 0 48px;
        }

        &__text {
            width: 60%;
            padding: 16px 16px 16px 48px;

            @media (max-width: $bp-md) {
                width: 100%;
                padding: 16px;
            }

            p {
                line-height: 25px;
            }
        }
    }
}
