.resume {
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;

        @media (max-width: $bp-sm) {
            flex-direction: column;
            align-items: center;
        }
    }
}
