.blog {
    &__container {
        min-height: calc(100vh - 160px);
        max-width: 1280px;
        margin: 0 auto;
        position: relative;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 60px;
        }

        p {
            color: white;
            text-align: right;
            margin-bottom: 16px;
            margin-right: 5px;
        }
    }

    &__post {
        width: 96%;
        max-width: $max-width;
        font-size: 18px;

        @media (max-width: $bp-xlg-max) {
            padding: 0 2%;
        }

        & p {
            text-align: left;
        }
    }
    &__image {
        text-align: center;
        margin-bottom: 20px; 

        img {
            width: 100%;
        }
    }
}