.blog {
    &__container {
        min-height: calc(100vh - 160px);
        max-width: 1280px;
        margin: 0 auto;
        position: relative;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 60px;
        }

        p {
            color: white;
        }

        .link-more {
            display: none;
        }
    }
    &__post {
        width: 96%;
        max-width: $max-width;
        font-size: 18px;

        @media (max-width: 1199px) {
            padding: 0 2%;
        }
    }
    &__image {
        text-align: center;
        margin-bottom: 20px; 
        img {
            width: 100%;
        }
    }

    &__back {
        display: block;
        width: 200px;
        height: 60px;
        background-color: $azure;
        margin: 20px 0;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        color: $ltext;
        font-size: 20px;

        @media (max-width: 1199px) {
            margin: 20px 2% ;
        }

        &-container {
            @include centerContainer();
            @include flexBasic(flex-end, row, no-wrap);
        }
    }
}