/* Variables */

$c-primary: #580f0f;
$c-secondary: #ffffff;
$c-primary-dark: #370101;

$max-width: 1200px;

$family: 'Montserrat', sans-serif;

$box-shadow: 15px 15px 0px $c-primary-dark;
$box-shadow-left: -15px 15px 0px $c-primary-dark;

$transition-function: cubic-bezier(0.17, 0.67, 0.5, 1);
$transition-duration: 0.5s;
$base-transition: $transition-duration $transition-function ;

$bp-xs-max: 450px;
$bp-sm: 480px;
$bp-sm-max: 579px;
$bp-md: 767px;
$bp-md-height: 900px;
$bp-md-max: 959px;
$bp-lg: 960px;
$bp-lg-max: 1023px;
$bp-xlg: 1024px;
$bp-xlg-max: 1199px;