.workshop {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 80vh;

    a {
        text-decoration: none;

        &:hover,
        &:visited,
        &:link {
            text-decoration: none;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__box {
        width: 100%;
        max-width: 960px;
        display: flex;
        margin-bottom: 40px;
        margin: 32px auto;
        box-shadow: 10px 10px 20px #370101;
        transition: all 0.4s ease-in-out;
        border-radius: 5px;
        background-color: #7b2525;
        color: white;

        @media (max-width: 767px) {
            flex-direction: column;
            box-shadow: none;
        }

        &:hover {
            box-shadow: none;
            transform: scale(1.02);

            @media (max-width: 767px) {
                transform: none;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
    }

    &__img {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 200px;
        overflow: hidden;

        @media (max-width: 767px) {
            max-width: 100%;
            height: 280px;
        }
    }

    &__techImg {
        top: 50%;
        left: 50%;
        position: absolute;
        height: 100%;
        transform: translate3d(-50%, -50%, 0);
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: translate3d(-50%, -50%, 0) scale(1.15);
        }
    }

    &__links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 24px;

        &-git {
            text-align: right;

            img {
                width: 120px;
                transition: all 0.4s ease-in-out;

                &:hover {
                    transform: scale(0.85);
                }
            }
        }

        a {
            display: block;
        }
    }

    &__tags {
        i {
            display: inline-block;
            text-align: center;
            padding: 5px 10px;
            margin: 10px 20px 0 0;
            background-color: rgba(#ffffff, 0.2);
            transform: skewX(-10deg);
            transition: all 0.4s ease-in-out;

            &:hover {
                transform: skewX(-10deg) scale(1.5);
            }
        }
    }
}
